<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConsumerKey" value="TnPecCDofWa4aC2T1eMkA"/>
    <add key="ConsumerSecret" value="bcRyQATRQVYX8lACTaEzcyLxBNIL5F0BhSC1mB51hY"/>
    <add key="AccessToken" value="1470194556-th24JJEmrlT5IoGhdslxsOA2djOWekYBdXYIOg6"/>
    <add key="AccessTokenSecret" value="s2Ks1ykIPxFUINlxrCKF0MBgPavZsZbA8IKt9X6TT20"/>
    <add key="DaysCount" value="14"/>
    <add key="TweetsCount" value="100"/>
    <add key="TimeOut" value="5"/>
  </appSettings>
</configuration>